<app-menu></app-menu>
<div id="banner1">
    <span style="font-weight: bold;">Request Create</span>
</div>
<table class="table table-sm table-striped">
    <tbody>

        <tr>
            <th>Id:</th>
            <td><input [(ngModel)]="request.id" type="number" disabled></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><input [(ngModel)]="request.description" type="text"></td>
        </tr>
        <tr>
            <th>Justification:</th>
            <td><input [(ngModel)]="request.justification" type="text"></td>
        </tr>
        <tr>
            <th>Rejection Reason:</th>
            <td><input [(ngModel)]="request.rejectionReason" type="text"></td>
        </tr>
        <tr>
            <th>Delivery Mode:</th>
            <td><input [(ngModel)]="request.deliveryMode" type="text"></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td><input [(ngModel)]="request.status" type="text"></td>
        </tr>
        <tr>
            <th>Total:</th>
            <td><input [(ngModel)]="request.total" type="number"></td>
        </tr>
        <tr>
            <th>User Id:</th>
            <td><input [(ngModel)]="request.userId" type="nmber"></td>
        </tr>

    </tbody>
</table>
<div id="banner1" style="padding-top: 20px;">
    <button (click)="save()" style="margin-left: 20px; margin-bottom: 50px;" class="btn btn-secondary">Save</button>
</div>
