<app-menu></app-menu>
<div id="banner1">
    <span style="font-weight: bold;">Request Detail</span>
</div>
<table  class="table table-sm table-striped">
    <tbody>
        
        <tr>
            <th>Id:</th>
            <td><input [(ngModel)]="request.id" type="number" readonly></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><input [(ngModel)]="request.description" type="text" readonly></td>
        </tr>
        <tr>
            <th>Justification:</th>
            <td><input [(ngModel)]="request.justification" type="text" readonly></td>
        </tr>
        <tr>
            <th>Rejection Reason:</th>
            <td><input [(ngModel)]="request.rejectionReason" type="text" readonly></td>
        </tr>
        <tr>
            <th>Delivery Mode:</th>
            <td><input [(ngModel)]="request.deliveryMode" type="text" readonly></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td><input [(ngModel)]="request.status" type="text" readonly></td>
        </tr>
        <tr>
            <th>Total:</th>
            <td><input [(ngModel)]="request.total" type="number" readonly></td>
        </tr>
        <tr>
            <th>User Id:</th>
            <td><input [(ngModel)]="request.userId" type="nmber" readonly></td>
        </tr>

    </tbody>
</table>
<div id="banner1">
    <button (click)="remove()" id="btnb4vrfy" class="btn btn-danger">Delete</button>
    <span *ngIf="showVerifyButton">|
          &nbsp;<button (click)="verifyRemove()" id="vrfybtn" class="btn btn-danger">Remove Request</button>
    </span>
</div>