<app-menu></app-menu>
<div id="banner1">
    <span style="font-weight: bold;">Users</span> |
    <a routerLink="/user/create" id="a-link">Create New User</a>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>IsAdmin</th>
            <th>IsReviewer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.firstname }} &nbsp; {{ u.lastname }}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.isAdmin}}</td>
            <td>{{ u.isReviewer}}</td>
            <td>
                <a routerLink="/user/detail/{{ u.id }}" id="alnk-ul">Detail</a> |
                <a routerLink="/user/edit/{{ u.id }}" id="alnk-ul">Edit</a>
            </td>
        </tr>
    </tbody>
</table>